* {
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    font-family: Almendra;
    color: #C9A46B;
    text-decoration: none;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/**********************************************/


.mobilTitle {
    display: none;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

.mobilNav {
    display: none;
}

.mobilNavIcons {
    display: none;
}

/**********************************************/


nav {
    width: 100%;
    height: 48px;
    border-bottom: 2px solid #C9A46B;
}

.navText {
    padding-top: 10px;
    text-transform: uppercase;
    z-index: 10;
    float: left;
}

.navText > div {
    position: relative;
    margin-left: 30px;
    padding: 3px 5px 3px 5px;
    display: inline-block;
    font-family: Almendra;
    font-size: 17px;
    cursor: pointer;
    background-color: ;
    overflow: hidden;
}

[class*='inAll'] {
    position: absolute;
    background-color: #9E8052;
    -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

.navHome:hover .leftHov {
    left: 0px;
}
.navHome:hover .topHov {
    top: 0px;
}

.homeTop {
    top: 0px;
    left: 60px; 
    width: 100%;
    height: 2px;    
}

.homeBottom {
    top: 24px;
    left: -60px; 
    width: 100%;
    height: 2px;    
}

.homeRight {
    top: 26px;
    left: 58px; 
    width: 2px;
    height: 100%;    
}

.homeLeft {
    top: -26px;
    left: 0px; 
    width: 2px;
    height: 100%;    
}

.navGallery:hover .leftHov {
    left: 0px;
}
.navGallery:hover .topHov {
    top: 0px;
}

.galleryTop {
    top: 0px;
    left: 90px; 
    width: 100%;
    height: 2px;    
}

.galleryBottom {
    top: 24px;
    left: -90px; 
    width: 100%;
    height: 2px;    
}

.galleryRight {
    top: 26px;
    left: 87px; 
    width: 2px;
    height: 100%;    
}

.galleryLeft {
    top: -26px;
    left: 0px; 
    width: 2px;
    height: 100%;    
}

.navMachine:hover .leftHov {
    left: 0px;
}
.navMachine:hover .topHov {
    top: 0px;
}

.machineTop {
    top: 0px;
    left: 127px; 
    width: 100%;
    height: 2px;    
}

.machineBottom {
    top: 24px;
    left: -127px; 
    width: 100%;
    height: 2px;    
}

.machineRight {
    top: 26px;
    left: 125px; 
    width: 2px;
    height: 100%;    
}

.machineLeft {
    top: -26px;
    left: 0px; 
    width: 2px;
    height: 100%;    
}

.navAbout:hover .leftHov {
    left: 0px;
}
.navAbout:hover .topHov {
    top: 0px;
}

.aboutTop {
    top: 0px;
    left: 171px; 
    width: 100%;
    height: 2px;    
}

.aboutBottom {
    top: 24px;
    left: -171px; 
    width: 100%;
    height: 2px;    
}

.aboutRight {
    top: 26px;
    left: 169px; 
    width: 2px;
    height: 100%;    
}

.aboutLeft {
    top: -26px;
    left: 0px; 
    width: 2px;
    height: 100%;    
}


/**********************************************/


.navIcons {
    float: right;
    padding-top: 7px;
    cursor: pointer;
}

.navIcons li {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    background-color: #38332B;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
}

.navIcons:last-child {
    margin-right: 20px;
}

.navIcons li:hover {
    -webkit-transform: rotateX(25deg) rotateY(20deg);
            transform: rotateX(25deg) rotateY(20deg);
    background-color: #6E5E46;
}

[class*='icon'] {
    width: 22px;
    height: 22px;
}

.face {
    background-image: url(../images/facebook_icon.svg);
    background-size: cover;
}

.twitter {
    background-image: url(../images/twitter_icon.svg);
    background-size: cover;
}

.googleplus {
    background-image: url(../images/googleplus-icon.svg);
    background-size: cover;
}


/**********************************************/


[class*='col'] {
	float: left;
    padding: 10px;
    background: ;
}


/**********************************************/


.homeGrid {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background: ;
    position: absolute;
    top: 20%;
    left: 0;
    margin-bottom: 30px;
}

.homeTitle {
    font-size: 130px;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px #A38453;
    letter-spacing: 10px;
}

.home-1-2-1 {
    width: 50%;
    background-color: ;
    padding-left: 8%;
    padding-right: 20px;
}

.home-1-2-2 {
    width: 50%;
    background-color: ;
    padding-right: 8%;
    padding-left: 20px;
}

.homeContent p {
    color: #CCBDA7;
}


/**********************************************/


.galleryGrid {
    margin: 0;
    padding: 0;
    width: 100%;
    background: ;
    position: absolute;
    top: 20%;
    left: -200%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.imgCont {
    max-width: 350px;
    max-height: 250px;
    border: 2px solid #A38453;
    border-radius: 5px;
    margin: 7px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
}

.imgImage {
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: all 0.7s;
            transition: all 0.7s;
}

.imgCont:hover .imgImage {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.imgTitle {
    background-image: url(../images/gal_wood.jpg);
    background-color: #271413;
    border-top: 2px solid #A38453;
    position: absolute;
    width: 350px;
    text-align: center;
    top: 248px;
    left: 0px;
    padding: 10px 0 10px 0;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    z-index: 2;
}

.imgTitle p {
    color: #bf9b62;
    font-size: 17px;
}

.imgCont:hover .imgTitle {
    top: 205px;
}


/**********************************************/


.machineGrid {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 145%;
    display: none;
    margin-bottom: 30px;
}

.machine-1-1 {
    width: 100%;
    text-align: center;
}

.machineContent {
    color: #CCBDA7;
}

.machineContent img {
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: 2px solid #A38453;
    border-radius: 5px; 
}

.machineContent p {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0;
    max-width: 600px;
    color: #CCBDA7;
}

/**********************************************/


.aboutGrid {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background: ;
    position: absolute;
    right: -200%;
    top: 25%;
    display: none;
    margin-bottom: 30px;
}

.about-1-2-1 {
    width: 50%;
    background-color: ;
    padding-left: 5%;
    padding-right: 20px;
    text-align: right;
}

.about-1-2-2 {
    width: 50%;
    background-color: ;
    padding-right: 25%;
    padding-left: 20px;
}

.aboutContent p {
    color: #CCBDA7;
}
.aboutContent img {
    max-width: 100%;
    border: 2px solid #A38453;
    border-radius: 5px;
}


/**********************************************/


.bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}


/**********************************************/


@media screen and (max-width: 940px) {

.homeTitle {
    font-size: 100px;
    -webkit-text-stroke: 3px #A38453;
}
    
}/*@media*/


/**********************************************/


@media screen and (max-width: 786px) {

.navText > div {
    margin-left: 0px;
}    

.navIcons li {
    margin-right: 2px;
}

.navIcons:last-child {
    margin-right: 5px;
}    



.homeTitle {
    font-size: 70px;
    -webkit-text-stroke: 2px #A38453;
}



.bgVideo {
    display: none;
}    

.bg {
    background-image: url(../images/768_bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
}    
    
}/*@media*/


/**********************************************/


@media screen and (max-width: 580px) { 
 
.mobilTitle {
    display: block;
}

.mobilNav {
    position: fixed;
    top: -136px;
    left: 0;
    display: block;
    color: #C9A46B;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: black;
    z-index: 999;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
}   

.mobilNavBtn {
    background-image: url(../images/gal_wood.jpg);
    background-size: cover;
    margin: 2px;
    padding: 3px;
    font-size: 18px;
    border: 2px solid #A69160;
    cursor: pointer;
}
.mobilNavBtn:hover {
    border: 2px solid #F2C885;
}     
    
.dropDown:hover {
    border: 2px solid #F2C885;
}      
    
nav {
    border-bottom: 0px solid #C9A46B;
}    

.navText {
    display: none;
}

    
    
.navIcons {
    float: right;
    padding-top: 3px;
}    

[class*='icon'] {
    width: 15px;
    height: 15px;
}    

    

.homeTitle {
    padding-top: 30px;
    font-size: 40px;
    -webkit-text-stroke: 1.5px #A38453;
}

.homeGrid {
    position: relative;
    top: 8%;
    left: 0;  
    padding-bottom: 50px;
    
}    



.galleryGrid {
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 50px;
}

.imgCont {
    max-width: 200px;
    max-height: 140px;
}

.imgTitle {
    width: 100%;
    top: 140px;
    padding: 5px 0 5px 0;
}

.imgCont:hover .imgTitle {
    top: 105px;
}



.machineGrid {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding-bottom: 25px;    
}

.machineContent p {
    text-align: center;
}    



.aboutGrid {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
    
.about-1-2-1 {
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.about-1-2-2 {
    width: 100%;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;    
}   


    
.navIcons {
    display: none;
}    
    
.mobilNavIcons {
    display: block;
    cursor: pointer;
    margin-top: 10px;
}

.mobilNavIcons li {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    background-color: #38332B;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
}

.mobilNavIcons li:hover {
    -webkit-transform: rotateX(25deg) rotateY(20deg);
            transform: rotateX(25deg) rotateY(20deg);
    background-color: #6E5E46;
}    
    
}/*@media*/


/**********************************************/


@media screen and (max-width: 480px) { 
        
.homeTitle {
    padding-top: 30px;
    font-size: 30px;
}    
    
}/*@media*/



















